<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed m-t nm-r-lg" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="dashboard" class="navbar-brand"><img src="images/af-logo.png" style="width: 150px;" alt="."></a>
<!--
            <div class="brand-desc">
                Landing page for Homer app
            </div>
-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right m-t-sm">
                <li class="active"><a class="page-scroll" href="#page-top">Home</a></li>
                <li><a class="page-scroll" page-scroll href="#mission">Mission</a></li>
                <li><a class="page-scroll" page-scroll href="#team">Team</a></li>
                <li><a class="page-scroll" page-scroll href="#contact">Contact</a></li>
                <li><a href="https://medium.com/adhocfoundry"  target="_blank">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>

<header id="page-top">
    <div class="container">
        <div class="heading">
            <h3>Artificial Intelligence for everyone</h3>
            <span>We provide custom Artificial Intelligence solutions.</span>
            <!--<span class="small">-->
                <!--Technology can only solve the problems to which it is applied. We bring the benefits of the Artificial intelligence technologies to fundamentally improve the way people work, learn and live.-->
            <!--</span>-->
<!--            <a href="#" class="btn btn-success btn-sm">Learn more</a>-->
        </div>
        <div class="heading-image" animate-panel child="img-animate" effect="fadeInRight">
<!--            <p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
            <div class="clear">
            <img class="img-animate" src="images/landing/c1.jpg">
            <img class="img-animate" src="images/landing/c2.jpg">
            <img class="img-animate" src="images/landing/c3.jpg">
            <!--            <img class="img-animate" src="images/landing/c3.jpg">-->
<!--            <img class="img-animate" src="images/landing/c4.jpg">-->
            </div>
            <div class="clear">
            <img class="img-animate" src="images/landing/c4.png">
            <img class="img-animate" src="images/landing/c5.png">
            <img class="img-animate" src="images/landing/c6.png">
            </div>
<!--            <img class="img-animate" src="images/landing/c8.jpg">-->
        </div>
    </div>
</header>
<section id="mission">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2><span class="text-danger">Our </span>mission</h2>
                <p>
                    Artificial intelligence technologies are proving to have tremendous potential value for  enriching the lives of countless people. Our innovative way of using Artificial intelligence technologies not only uncovers insights but also generates tremendous economic and social values for the people.
                </p>
            </div>
        </div>        
    </div>
</section>

<section id="team" class="bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2><span class="text-danger">Our </span>team</h2>
                <p>Together everyone achieves more! </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <h4 class="m-t-lg"><i class="pe-7s-display1 text-info icon-big"></i></h4>
                <strong>Future</strong>
                <p>We understand the future is Artificial intelligence technologies.</p>
            </div>
            <div class="col-md-3">
                <h4 class="m-t-lg"><i class="pe-7s-science text-info icon-big"></i></h4>
                <strong>Expertise</strong>
                <p>We have deep expertise in Artificial intelligence technologies, data science, optimisation and adaptation.</p>
            </div>
            <div class="col-md-3">
                <h4 class="m-t-lg"><i class="pe-7s-study text-info icon-big"></i></h4>
                <strong>Agile</strong>
                <p>We are an agile team of developers, modellers, mathematicians and domain experts.</p>
            </div>
            <div class="col-md-3">
                <h4 class="m-t-lg"><i class="pe-7s-like2 text-info icon-big"></i></h4>
                <strong>Drive</strong>
                <p>We are driven to solve the hardest problems and build solutions that could benifit millions.</p>
            </div>
        </div>
    </div>
</section>


<section id="enterprise" >
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-danger">Artificial intelligence </span>for the enterprise</h2>
                <p>
                    We partner with you!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 no-padding">
                <p><span>As Artificial intelligence advances and promises to solve problems organizations could not before, organizations requires experts across a range of disciplines to get the right custom Artificial intelligence technologies and processes in place.</span></p>

                <p><span>We help organization leaders figure out how to strategically build teams with the right experts in order to ensure successful embrace Artificial intelligence and create a useful economic framework for investing in Artificial intelligence.</span></p>

            </div>
            <div class="col-md-9">

                <img class="img-animate" src="images/enterprise.jpg" width="99%">
            </div>
        </div>


    </div>
</section>

<section id="startup" class="bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-danger">Artificial intelligence </span> for the startup</h2>
                <p>
                    Launch with us!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">

                <img class="img-animate" src="images/startup.jpg" width="98%">
            </div>
            <div class="col-md-3 no-padding">
                <p><span>Competitive dynamics is severely affected by Artificial intelligence. Artificial intelligence is facilitating faster business process at lower cost.</span></p>
                <p><span>Startups are at the forefront driving Artificial intelligence adaptation and acceleration. We help startups to build Artificial intelligence expertise and technologies to their needs at affordable cost.</span></p>
            </div>
        </div>
    </div>
</section>
<section id="education" >
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-danger">Artificial intelligence </span> education</h2>
                <p>
                    Learn with us!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ">
                <p><span>Artificial intelligence is spreading to thousands of domains. As Artificial intelligence advances, most organizations struggle to scale resources for the new challenge.</span></p>
                <p><span>We conduct frequent workshops, tutorials to empower engineers on Artificial intelligence. We also work with academic institutions to build Artificial intelligence talents.</span></p>
            </div>
            <div class="col-md-9">
                <img class="img-animate" src="images/education.jpg" width="99%">
            </div>
        </div>
    </div>
</section>

<section id="contact" class="bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-danger">Contact </span> us</h2>
                <p>
                    We always listen!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9 no-padding">

                <!--<section id="map" >-->
                    <!--<div ui-map="myMap" ui-options="mapOptions" style="height: 300px"></div>-->
                <!--</section>-->
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15557.644973940427!2d77.588544!3d12.881257!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb33b35a4b21a0788!2sAdhoc+Foundry+(OPC)+Private+Limited!5e0!3m2!1sen!2sin!4v1499591069633" width="865" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
            <div class="col-md-3 text-left ">
                <address >
                    <strong><span class="navy">Adhoc Foundry (OPC) Private Limited.</span></strong><br/>
                    208 3rd Main, MS Ramaiah City<br/>
                    JP Nagar, 8th Phase<br/>
                    Bangalore 560076 <br/>
                    Karnataka, India<br/><br/>
                    P: <span class="text-info ">+91 997 237 6647</span><br/>
                    E: <span class="text-info"><a href="mailto:contact@adhocfoundry.com">contact@adhocfoundry.com</a></span>
                </address>

            </div>
        </div>


    </div>
</section>

<section class="bg-light">
    <div class="container">
        <div class="row text-center">
            <span class="text-dark clear">© 2017 <strong>Adhoc Foundry</strong> (OPC) Private Limited</span>
        </div>
        
    </div>
</section>

<!-- Local script for menu handle -->
<!-- It can be also directive -->
<script>
    $(document).ready(function () {

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
        });

    });
</script>